
a {
color: #6495ED;
text-decoration: none;
}

a:focus,
a:hover {
color: #8A2BE2;
text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
font-family: "Times New Roman", Times, serif;
font-size: 16px;
font-weight: 300;
letter-spacing: 0.7px;
}

li {
font-family: "Times New Roman", Times, serif;
font-size: 16px;
font-weight: 300;
letter-spacing: 0.7px;
margin: 5px;
}

heading {
font-family: "Times New Roman", Times, serif;
font-size: 22px;
font-weight: 600;
letter-spacing: 0.7px;
}

papertitle {
font-family: "Times New Roman", Times, serif;
font-size: 16px;
font-weight: 300;
letter-spacing: 0.7px;
}

name {
font-family: "Times New Roman", Times, serif;
font-size: 32px;
font-weight: 600;
}


/* span.highlight {
background-color: #ffffd0;
} */